/*
 * File: /app/styles/views/about.css
 * Project: portfolio
 * Created: Tuesday, 6th December 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-inline: var(--space-large);
  background-color: var(--color-bg-main);
}

/* Select all children except the 1 one */
.about__content > *:not(:first-child) {
  max-width: var(--size-width-max);
  margin-inline: auto;
}

/* Feature */
.features-wrapper {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: var(--space-normal);
  padding-bottom: var(--space-medium);
}

.feature {
  border: var(--size-border-width) solid var(--color-bg-border);
  border-radius: var(--size-border-radius);
  padding: var(--space-medium);
  background-color: var(--color-bg-body);
}

/* profile */
.profile {
  text-align: center;
  margin-bottom: calc(var(--space-x-large) * 2.5);
}

.profile .title {
  margin-block: var(--space-normal);
}

.profile .bio {
  font-size: var(--size-txt-tiny);
  margin-top: var(--space-small);
  color: var(--color-txt-secondary);
}

.profile .image {
  max-width: var(--size-width-img);
  border: var(--size-border-width) solid var(--color-bg-border);
  border-radius: var(--size-border-radius);
  padding: var(--space-medium);
  background-color: var(--color-bg-body);
  margin-top: var(--space-medium);
  display: inline;
}

.profile .stat-list {
  display: flex;
  justify-content: center;
  column-gap: var(--space-medium);
  margin-block: var(--space-large);
}

.profile .stat-list .stat {
  font-size: var(--size-txt-small);
  font-weight: 600;
  color: var(--color-txt-inverted);
  background-color: var(--color-badge-main);
  width: calc(var(--size-txt-normal) * 2);
  padding: var(--space-small);
  border-radius: var(--size-border-radius);
}

/* Projects */
.projects {
  text-align: center;
}