/*
 * File: /app/styles/views/blog.css
 * Project: portfolio
 * Created: Tuesday, 22nd November 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/* Container */
.blog__container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-bg-main);
}

/* List */
.blog__list {
  display: grid;
  max-width: var(--size-width-max);
  padding: var(--space-m)
}

/* Article */
.blog__post {
  padding: var(--space-m);
  background-color: var(--color-bg-body);
  border-radius: var(--size-border-radius);
  border: var(--size-border-width) solid var(--color-bg-border);
}

.blog__post .title {
  margin-bottom: var(--space-s);
  text-decoration: none;
  font-size: var(--font-size-m);
}

.blog__post .description {
  color: var(--color-txt-secondary);
  margin-bottom: var(--space-m);
  text-decoration: none;
}

.blog__post .date {
  font-size: var(--font-size-xxs);
  font-weight: 300;
}
