/*
 * File: /app/styles/views/main.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg-main);
  justify-content: center;
  align-items: center;
}

.intro > h1 {
  font-size: var(--size-font-l);
  font-weight: bold;
}

.intro > p {
  font-size: var(--size-font-s);
  padding: var(--space-m);
}

/* Link List */
.link-list > li > a {
  text-decoration: underline;
}

/* Settings */
.intro__settings {
  position: absolute;
  top: var(--space-l);
  right: var(--space-l);
}

.intro__settings .modal-container {
  width: 35rem;
  display: flex;
}

.intro__settings .modal-container > .btn {
  width: 100%;
  margin-top: auto;
}
