/*
 * File: /app/styles/views/post.css
 * Project: portfolio
 * Created: Monday, 5th December 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.post {
  font-size: var(--size-font-s);
}

.post__wrapper {
  height: max-content;
  margin: auto;
  max-width: var(--size-width-max);
  padding-top: calc(var(--size-font-l) * 2);
}

/* Elements */
.post__wrapper > * {
  margin: var(--space-l);
}

ol {
  list-style-type: square;
  list-style-position: outside;
}

ol > li {
  padding-bottom: var(--space-m);
}

code {
  background-color: var(--color-bg-body);
  color: var(--color-act-secondary);
}

pre {
  background-color: var(--color-bg-body);
  padding: var(--space-l) !important;
  border-radius: var(--size-border-radius);
  overflow: scroll;
}

blockquote {
  background-color: var(--color-bg-body);
  border-left: 10px solid #ccc;
  padding: var(--space-l);
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: var(--size-border-radius);
}

blockquote:before {
  color: var(--color-txt-secondary);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote em {
  font-style: italic;
}
