/*
 * File: /app/styles/views/post.css
 * Project: portfolio
 * Created: Monday, 5th December 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.post {
  text-align: center;
  background-color: var(--color-bg-main);
}

.post__wrapper {
  background-color: var(--color-bg-body);
  max-width: var(--size-width-max);
  padding-inline: var(--space-xl);
  padding-top: calc(var(--size-font-l) * 2);
  margin: auto;
  height: 100vh;
  border-left: var(--size-border-width) solid var(--color-bg-border);
  border-right: var(--size-border-width) solid var(--color-bg-border);
}
