/*
 * File: /app/styles/typography.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

h1 {
  font-size: var(--size-txt-large);
  font-weight: 700;
}

h2 {
  font-size: var(--size-txt-medium);
  font-weight: 600;
}

h3 {
  font-size: var(--size-txt-normal);
  font-weight: 600;
}

p {
  font-size: var(--size-txt-small);
}

span {
  color: var(--color-txt-secondary);
}

a {
  color: var(--color-act-secondary);
}