/*
 * File: /app/styles/container/blog.css
 * Project: portfolio
 * Created: Tuesday, 22nd November 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/* Container */
.blog__container {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-bg-main);
}

/* Header */
.blog__header {
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;

  width: 100%;
  padding: var(--space-large);
}

/* List */
.blog__list {
  display: grid;
  max-width: var(--size-width-max);
}

/* Article */
.blog__article {
  padding: var(--space-medium);
}

.blog__article .title {
  margin-bottom: var(--space-normal);
  text-decoration: none;
}

.blog__article .description {
  color: var(--color-txt-secondary);
  margin-bottom: var(--space-medium);
  text-decoration: none;
}

.blog__article .date {
  font-size: var(--size-txt-tiny);
  font-weight: 300;
}

.blog__article .tag__container {
  display: flex;
  column-gap: var(--space-large);
  margin-top: var(--space-normal);
}

.blog__article .tag {
  font-size: var(--size-txt-tiny);
  color: var(--color-txt-inverted);
  font-weight: bold;
  background-color: var(--color-act-secondary);
  padding: var(--space-small);
  border-radius: var(--size-border-radius);
  text-decoration: none;
}
