/*
 * File: /app/styles/container/intro.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg-main);
  justify-content: center;
  align-items: center;
}

.intro > h1 {
  font-size: var(--size-txt-large);
  font-weight: bold;
  padding: var(--space-large);
}

.intro > span {
  font-size: var(--size-txt-normal);
  margin-top: var(--space-small);
}

.intro__menu {
  margin: calc(var(--space-x-large) * 2);
}

.intro__menu-list {
  font-size: var(--size-txt-small);
  font-weight: 600;
}

.intro__menu-list > li {
  display: inline-block;
  margin-inline: var(--space-large);
}
