/*
 * File: /app/styles/container/intro.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg-main);
  justify-content: center;
  align-items: center;
}

.intro > h1 {
  font-size: var(--size-txt-large);
  font-weight: bold;
  padding: var(--space-large);
}

.intro > p {
  font-size: var(--size-txt-normal);
  padding: var(--space-large);
}

/* Menu */
.intro__menu {
  margin-top: var(--space-x-large);
}

.intro__menu-list {
  font-size: var(--size-txt-large);
  font-weight: 600;
}

.intro__menu-list > li {
  display: inline-block;
  margin-inline: var(--space-x-large);
}

/* Settings */
.intro__settings {
  position: absolute;
  top: var(--space-x-large);
  right: var(--space-x-large);
}

.intro__setting-action {
  font-size: var(--size-txt-medium);
  border-radius: calc(var(--size-txt-medium) / 2);
}
