/*
 * File: /app/styles/element/button.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.btn {
  cursor: pointer;
  font-weight: bold;
  font-size: var(--size-txt-small);
  height: var(--size-txt-large);
  border-color: var(--color-bg-border);
  border: none;
  appearance: none;
}

/* Primary */
.btn.primary {
  background-color: var(--color-act-main);
  border-radius: var(--size-border-radius);
  color: var(--color-txt-inverted);
}

/* Secondary */
.btn.secondary {
  border-radius: var(--size-border-radius);
}

/* Icon */
.btn.icon {
  background: none;
  font-size: var(--size-txt-medium);
}

.btn.icon.animate:hover {
  transform: rotate(45deg);
}

/* Selectors */
.btn:hover {
  background-color: var(--color-highlight-main);
}

.btn:active {
  transform: scale(0.95);
}

.btn.icon.border:hover {
  border-color: var(--color-highlight-main);
}

/* Styles */
.btn.border {
  border: solid;
  border-width: var(--size-border-width);
  border-radius: var(--size-border-radius);
  border-color: var(--color-bg-border);
}

/* Link */
.btn.link {
  position: relative;
}

.btn > a {
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
