/*
 * File: /app/styles/element/button.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.btn {
  cursor: pointer;
  font-weight: bold;
  font-size: var(txt-normal);
  border-color: var(--color-bg-border);
  border: none;
  appearance: none;
}

/* Primary */
.btn.primary {
  background-color: var(--color-act-main);
  padding: var(--space-medium);
  border-radius: var(--size-border-radius);
  color: var(--color-txt-inverted);
}

/* Icon */
.btn.icon {
  background: none;
}

.btn.icon.border {
  font-size: var(--size-txt-medium);
  border: solid;
  border-width: var(--size-border-width);
  border-radius: var(--size-border-radius);
  border-color: var(--color-bg-border);
}

.btn.icon:hover {
  transform: rotate(45deg);
}

/* Selectors */
.btn:hover {
  background-color: var(--color-highlight-main);
}

.btn:active {
  transform: scale(0.95);
}

.btn.icon.border:hover {
  border-color: var(--color-highlight-main);
}
