/*
 * File: /app/styles/element/header.css
 * Project: portfolio
 * Created: Tuesday, 6th December 2022
 * Author: Break Zero
 * -----
 * Copyright 2022, Break Zero
 * -----
 */

.nav-header {
  --size-nav-height: calc(var(--space-xl) + var(--size-font-xl));

  display: flex;
  gap: 1rem;
  align-items: center;
  height: var(--size-nav-height);
  left: 0;
  right: 0;
  top: 0;
}

.nav-header.relative {
  position: relative;
  padding: unset;
  margin-top: var(--space-l);
}

.nav-header.fixed {
  position: fixed;
  padding: var(--space-m);
  margin-top: var(--space-l);
}
