/*
 * File: /app/styles/element/tag.css
 * Project: portfolio
 * Created: Wednesday, 14th December 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

.tag__container {
  overflow: hidden;
}

.tag {
  font-size: var(--size-font-xs);
  color: var(--color-bg-body);
  background-color: var(--color-act-secondary);
  padding: var(--space-xs);
  border-radius: var(--size-border-radius);
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.tag ~ .tag {
  margin: var(--space-xs);
}