/*
 * File: /app/styles/geometry/large.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/* Devices above 1024px */

:root {
  /* Spaces */
  --space-x-large: 4rem;
  --space-large: 2rem;
  --space-medium: 1.6rem;
  --space-normal: 0.75rem;
  --space-small: 0.5rem;
  --space-tiny: 0.25rem;

  /* Width */
  --size-width-max: 95rem;

  /* Text size */
  --size-txt-large: 4.75rem;
  --size-txt-medium: 3.5rem;
  --size-txt-normal: 2.5rem;
  --size-txt-small: 2rem;
  --size-txt-tiny: 1.625rem;

  /* Animations */
  --animation-duration: 0.1s;

  /* Border */
  --size-border-width: 0.15rem;
  --size-border-radius: 1rem;
}
