/*
 * File: /app/styles/geometry/size.l.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/* Devices above 1024px */

:root {
  /* Width */
  --size-width-max: 95rem;
  --size-width-img: 30rem;
  --size-width-loader: 6rem;

  /* Height */
  --form-field-height: calc(var(--space-l) + var(--size-font-m));
}
