/*
 * File: /app/styles/geometry/size.l.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/* Devices above 1024px */

:root {
  /* Spaces */
  --space-xl: 4rem;
  --space-l: 2rem;
  --space-m: 1.6rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
  --space-xxs: 0.25rem;

  /* Width */
  --size-width-max: 95rem;
  --size-width-img: 20rem;
  --size-width-loader: 6rem;

  /* Text size */
  --size-font-l: 4.75rem;
  --size-font-m: 3.5rem;
  --size-font-s: 2.5rem;
  --size-font-xs: 2rem;
  --size-font-xxs: 1.5rem;

  /* Animations */
  --animation-duration: 0.3s;

  /* Border */
  --size-border-loader: 0.6rem;
  --size-border-width: 0.15rem;
  --size-border-radius: 1rem;
}
