/*
 * File: /app/styles/color/light.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/*
 * keyword:
 * 1. bg (background)
 * 2. txt (text/font)
 * 3. act (action/button/link)
 * 4. theme (specific theme color)
 * 5. focus (element focus color)
 * 6. selection (text selection color)
 * 7. highlight (text highlight color)
 *
 * level:
 * 1. main
 * 2. secondary
 * 3. tertiary
 */

:root {
  /* Background */
  --color-bg-main: #f6f6f6;
  --color-bg-secondary: #ebebeb;
  --color-bg-body: #fff;
  --color-bg-border: #e1e1e1;
  --color-bg-shadow: rgba(0, 0, 0, 0.25);
  --color-bg-tooltip: rgb(81, 80, 80);

  /* Text */
  --color-txt-main: #111111;
  --color-txt-secondary: #404040;
  --color-txt-inverted: #fafafa;
  --color-txt-muted: #70777f;
  --color-txt-bright: #000;
  --color-txt-error: #ff0000;

  /* Actions */
  --color-act-main: #08bf8e;
  --color-act-secondary: #F8763A;

  /* Other */
  --color-theme-main: #f6d728;
  --color-focus-main: rgba(201, 69, 7, 0.5);
  --color-selection-main: #9e9e9e;
  --color-highlight-main: #03d79e;
  --color-image-filter: grayscale(0%);
  --color-badge-main: #78BAE3;

  /* Icons */
  --icon-chevron-down: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+)
}
