/*
 * File: /app/styles/color/light.css
 * Project: portfolio
 * Created: Tuesday, 4th October 2022
 * Author: Denpex
 * -----
 * Copyright 2022, ©Mehdi Rashadatjou
 * -----
 */

/*
 * keyword:
 * 1. bg (background)
 * 2. txt (text/font)
 * 3. act (action/button/link)
 * 4. theme (specific theme color)
 * 5. focus (element focus color)
 * 6. selection (text selection color)
 * 7. highlight (text highlight color)
 *
 * level:
 * 1. main
 * 2. secondary
 * 3. tertiary
 */

:root {
  /* Background */
  --color-bg-main: #f6f6f6;
  --color-bg-secondary: #ebebeb;
  --color-bg-body: #fff;
  --color-bg-border: #e1e1e18f;
  --color-bg-shadow: rgba(0, 0, 0, 0.25);
  --color-bg-tooltip: rgb(81, 80, 80);

  /* Text */
  --color-txt-main: #111111;
  --color-txt-secondary: #404040;
  --color-txt-inverted: #fafafa;
  --color-txt-muted: #70777f;
  --color-txt-bright: #000;
  --color-txt-error: #ff0000;

  /* Actions */
  --color-act-main: #08bf8e;
  --color-act-secondary: #f8763a;

  /* Other */
  --color-theme-main: #f6d728;
  --color-focus-main: rgba(201, 69, 7, 0.5);
  --color-selection-main: #9e9e9e;
  --color-highlight-main: #03d79e;
  --color-image-filter: grayscale(0%);
  --color-badge-main: #78bae3;

  /* Shadow */
  --shadow-card: rgba(0, 0, 0, 0.07) 0px 3px 8px;
  --shadow-button: rgba(0, 0, 0, 0.1) 0px 4px 5px;
}
